.principalContainer{
    display: flex;
    flex-direction: column;
}
.firstContainer{
display: flex;
justify-content: space-around;

}
.firstContainer section{
     background-color:rgb(135, 163, 187);
     border: 1px solid ; 
     height: 250px;
    display:flex;
    flex-flow: column;
    justify-content: space-around;    
}
.firstContainer section h1,h2{
    margin: 0 auto;
}
.firstContainer section img{
    margin: 0 auto;
    height: 100px;

}
.secondContainer{
    display: flex;
    flex-wrap: wrap;
    
    justify-content:left;
}
.secondContainer section{
    border: 1px solid saddlebrown;
    margin: 10px;
    width: 100px;
}
.secondContainer h3{
    border: 1px solid rgb(194, 179, 179);
    margin: 0 auto;
}

  