.principalContainer{

    display: flex;
    flex-direction: column;

  
}
.firstContainer{
display: flex;
justify-content: space-around;

}
.firstContainer section{
     background-color:rgb(207, 220, 236);
     height: auto;
     width: 30%; 
     cursor: pointer;
}
.firstContainer section:hover{
    box-shadow: 5px 5px 5px 2px rgb(112, 117, 119);
}
.firstContainer section h1,h2{
margin: 0;
text-align: center;
font-size: 30px;
}
.firstContainer section img{
    display:block;
    text-align: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;
}.firstContainer section span{
    font-size: 25px;
    display: block;
    text-align: center;
}
.secondContainer{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
   
    
}
.secondContainer section{
    background-color:rgb(207, 220, 236);
    margin: 10px;
    width: 100px;
}
.secondContainer h3{
    border-bottom: solid 1px rgb(145, 145, 145);
    margin: 0 auto;
}
@media (max-width:500px) {
    .secondContainer{
        
        justify-content:center;
       
    }   
    .firstContainer section h1{
      font-size: 25px;
    }
}
  