.Nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(0, 0, 0);
    height: 70px;
}
.Nav h1{
    font-weight: lighter;
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
}
.Nav button {
    font-size: 25px;
    height: fit-content;
    padding: 6px;
    background-color: gold;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.Nav button:hover{
    background-color: rgb(238, 238, 33);
}
@media (max-width:500px) {
    .Nav h1{
       font-size: 25px;
       letter-spacing: 1px;
    }
    .Nav button{
       font-size: 17px;
    }
}