.FirstContainer{
    background-color:rgb(207, 220, 236);
    display: grid;
    width: fit-content;
    margin: 0 auto;
}
.AboutApp{
    background-color:rgb(203, 238, 240);
    width: 50%;
    margin: 0 auto;
}
.AboutApp h1{
display: block;
width: fit-content;
 margin: 0 auto;
}
.AboutApp p{
    margin:0 auto;
    font-size: 18px;
}
.Aboutme{
    background-color:rgb(203, 238, 240);
    width: 50%;
    margin: 0 auto;
   
}

.Aboutme h1{
    display: block;
width: fit-content;
 margin: 0 auto;
}


.Aboutme section{
display: flex;
flex-direction: column;
} 
.Aboutme span{
    font-size: 18px;
}
.Aboutme a{
    word-wrap: break-word;
}
.Aboutme img{
  width: 50px;
  
}

@media (max-width:600px) {
    .AboutApp{
        width: 80%;
    }
    .Aboutme{
        width: 80%;
    }
}
@media (max-width:400px) {
    .AboutApp{
        width: auto;
    }
    .Aboutme{
        width: auto;
    }
}