.FirstSection{
    display: flex;

}
.MapContainer{
    width: 40%;  
}
.searchSection{
  display: flex;
  justify-content: center;
}
.searchSection input{
 padding: 7px;
 border: 1px solid black;
 background-color: rgb(217, 245, 245);
}

.searchSection button{
 padding: 7px;
 margin-left: 2px;
 cursor: pointer;
}
.CardInfo{
    width: 60%;
    height: 100%;
    background-color: aliceblue;
}
.ForecastContainer{
 margin-top: 20px;  

}

@media(max-width:850px){
  .FirstSection{
    display: block; 
  }
  .CardInfo{
    width: auto;
  }
  .MapContainer{
    width: auto;
    height: 300px;
  }
}
